<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc7YY3a6Lj7fn6opKXAtWxb1eVZuUOaZg</string>
	<key>GCM_SENDER_ID</key>
	<string>471351358192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalBookingApp</string>
	<key>PROJECT_ID</key>
	<string>docara-2ea55</string>
	<key>STORAGE_BUCKET</key>
	<string>docara-2ea55.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471351358192:ios:2ad1130565773d55958835</string>
</dict>
</plist>